@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --placeholder-color: #a0a0a0;
  --input-color: #000000;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --placeholder-color: #5a5a5a;
  }
}

  body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

::placeholder {
  color: var(--placeholder-color);
}
